<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ichengxi.fang">

    <uses-permission android:name="android.permission.INRNET"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".business.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".business.list.ListHouseActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_list_house"
            android:launchMode="singleTop" />

        <activity android:name=".business.house_detail.HouseDetailActivity"/>
        <activity android:name=".business.login.LoginActivity"/>
        <activity android:name=".business.location.LocationActivity" />
        <activity android:name=".TempActivity"/>
        <activity android:name=".business.collect.CollectionActivity"/>
    </application>

</manifest>

